<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <meta name="description" content="@@description">
    <meta name="robots" content="@@robots">
    <meta name="format-detection" content="telephone=no">
    @@if (context.themeColor) {
    <meta name="theme-color" content="@@themeColor">
    }

    <meta property="og:title" content="@@title">
    <meta property="og:description" content="@@description">
    <meta property="og:type" content="@@ogType">
    @@if (context.ogUrl) {
    <meta property="og:url" content="@@ogUrl">
    }
    @@if (context.ogImage) {
    <meta property="og:image" content="@@ogImage">
    }

    <meta name="twitter:card" content="@@twitterCard">
    <meta name="twitter:title" content="@@title">
    <meta name="twitter:description" content="@@description">
    @@if (context.ogImage) {
    <meta name="twitter:image" content="@@ogImage">
    }

    <link rel="icon" href="assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="assets/favicon/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="assets/css/style.css">
</head>
