<section class="about" aria-labelledby="about-title">
    <div class="container about__container">
        <h2 class="about__title" id="about-title">О компании</h2>

        <div class="about__copy">
            <p class="about__paragraph">
                Мы занимаемся проектированием и производством кедровых купелей и фитобочек с 2012 года.
            </p>
            <p class="about__paragraph">
                За это время мы собрали команду профессионалов, влюбленных в свое дело. Каждый наш мастер обладает многолетним опытом работы с деревом и знает все тонкости создания идеального продукта.
            </p>
            <p class="about__paragraph">
                Мы используем только высококачественную древесину
                <span class="about__emphasis">сибирского кедра</span>, которая славится своими
                <span class="about__emphasis">целебными свойствами</span> и долговечностью.
            </p>
        </div>

        <ul class="about__features">
            <li class="about__feature">
                <div class="about__icon-wrap">
                    <img
                        class="about__icon"
                        src="assets/design/barel/icons/about-icon-1.svg"
                        width="109"
                        height="109"
                        alt=""
                        decoding="async"
                        loading="lazy"
                    >
                </div>
                <p class="about__caption">Срок до 50 лет</p>
            </li>
            <li class="about__feature">
                <div class="about__icon-wrap">
                    <img
                        class="about__icon"
                        src="assets/design/barel/icons/about-icon-2.svg"
                        width="109"
                        height="109"
                        alt=""
                        decoding="async"
                        loading="lazy"
                    >
                </div>
                <p class="about__caption">Собственное немецкое производство</p>
            </li>
            <li class="about__feature">
                <div class="about__icon-wrap">
                    <img
                        class="about__icon"
                        src="assets/design/barel/icons/about-icon-3.svg"
                        width="109"
                        height="109"
                        alt=""
                        decoding="async"
                        loading="lazy"
                    >
                </div>
                <p class="about__caption">Высокое качество сервисного обслуживания</p>
            </li>
            <li class="about__feature">
                <div class="about__icon-wrap">
                    <img
                        class="about__icon"
                        src="assets/design/barel/icons/about-icon-4.svg"
                        width="109"
                        height="109"
                        alt=""
                        decoding="async"
                        loading="lazy"
                    >
                </div>
                <p class="about__caption">Кедровый массив высшего сорта</p>
            </li>
        </ul>

        <a class="about__more" href="about.html">Подробнее</a>
    </div>
</section>
