<section class="equipment" aria-labelledby="equipment-title">
    <div class="container equipment__container">
        <h2 class="equipment__title" id="equipment-title">Комплектация</h2>

        <div class="equipment__grid equipment__grid--desktop">
            <article class="equipment-card">
                <h3 class="equipment-card__title">В стандартной комплектации</h3>
                <ul class="equipment-card__list">
                    <li class="equipment-card__item">Купель из кедра</li>
                    <li class="equipment-card__item">Обручи из нержавеющей стали</li>
                    <li class="equipment-card__item">Слив воды</li>
                    <li class="equipment-card__item">Лестница (2-х ступенчатая)</li>
                    <li class="equipment-card__item">Сиденья внутри купели (по всему периметру)</li>
                    <li class="equipment-card__item">Инструкция по эксплуатации</li>
                </ul>
            </article>
            <article class="equipment-card">
                <h3 class="equipment-card__title">Дополнительное оборудование</h3>
                <ul class="equipment-card__list">
                    <li class="equipment-card__item">Печь (внутренняя или наружная)</li>
                    <li class="equipment-card__item">Крышка для купели (пластиковая / тентовая)</li>
                    <li class="equipment-card__item">Подиум для купели</li>
                    <li class="equipment-card__item">Хромотерапия (подсветка воды)</li>
                    <li class="equipment-card__item">Гидромассаж (система аэромассажа)</li>
                    <li class="equipment-card__item">Полочка для напитков</li>
                    <li class="equipment-card__item">Фильтровальная установка для очистки воды</li>
                    <li class="equipment-card__item">Электрический водонагреватель (если нет печи)</li>
                </ul>
            </article>
        </div>

        <div class="equipment__grid equipment__grid--mobile">
            <article class="equipment-card">
                <h3 class="equipment-card__title">В стандартной комплектации</h3>
                <ul class="equipment-card__list">
                    <li class="equipment-card__item">Купель из кедра</li>
                    <li class="equipment-card__item">Слив</li>
                    <li class="equipment-card__item">Обручи из нержавеющей стали</li>
                    <li class="equipment-card__item">Лестница (приставная или навесная, в зависимости от модели)</li>
                    <li class="equipment-card__item">Сиденья из кедра внутри</li>
                    <li class="equipment-card__item">Инструкция по эксплуатации</li>
                </ul>
            </article>
            <article class="equipment-card">
                <h3 class="equipment-card__title">Дополнительное оборудование</h3>
                <ul class="equipment-card__list">
                    <li class="equipment-card__item">Подиум под купель</li>
                    <li class="equipment-card__item">Крышка (деревянная или термокрышка)</li>
                    <li class="equipment-card__item">Оборудование (печь, фильтрация, подсветка, гидро- и аэромассаж)</li>
                    <li class="equipment-card__item">Аксессуары (весла, столики, подстаканники, полотенцедержатели)</li>
                    <li class="equipment-card__item">Средства по уходу за купелью</li>
                    <li class="equipment-card__item">Сервисное обслуживание</li>
                </ul>
            </article>
        </div>
    </div>
</section>
