<section class="sizes" aria-labelledby="sizes-title">
    <div class="sizes__container">
        <h2 class="sizes__title" id="sizes-title">Размеры</h2>

        <div class="sizes__table-wrap">
            <table class="sizes__table">
                <thead class="sizes__head">
                    <tr class="sizes__row">
                        <th class="sizes__cell" scope="col">Модель</th>
                        <th class="sizes__cell" scope="col">Высота / Стенка</th>
                        <th class="sizes__cell" scope="col">Глубина</th>
                        <th class="sizes__cell" scope="col">Объем (литр)</th>
                        <th class="sizes__cell" scope="col">Кол-во человек</th>
                    </tr>
                </thead>
                <tbody class="sizes__body">
                    <tr class="sizes__row">
                        <th class="sizes__cell" scope="row">Овал</th>
                        <td class="sizes__cell">110 см</td>
                        <td class="sizes__cell">100 см</td>
                        <td class="sizes__cell">700 л</td>
                        <td class="sizes__cell">1 - 2</td>
                    </tr>
                    <tr class="sizes__row">
                        <th class="sizes__cell" scope="row">Круглая</th>
                        <td class="sizes__cell">120 см</td>
                        <td class="sizes__cell">105 см</td>
                        <td class="sizes__cell">1200 л</td>
                        <td class="sizes__cell">2 - 4</td>
                    </tr>
                    <tr class="sizes__row">
                        <th class="sizes__cell" scope="row">Круглая</th>
                        <td class="sizes__cell">120 см</td>
                        <td class="sizes__cell">105 см</td>
                        <td class="sizes__cell">1800 л</td>
                        <td class="sizes__cell">4 - 6</td>
                    </tr>
                    <tr class="sizes__row">
                        <th class="sizes__cell" scope="row">Овальная</th>
                        <td class="sizes__cell">110 см</td>
                        <td class="sizes__cell">105 см</td>
                        <td class="sizes__cell">1000 л</td>
                        <td class="sizes__cell">2 - 3</td>
                    </tr>
                    <tr class="sizes__row">
                        <th class="sizes__cell" scope="row">Квадратная</th>
                        <td class="sizes__cell">110 см</td>
                        <td class="sizes__cell">105 см</td>
                        <td class="sizes__cell">1500 л</td>
                        <td class="sizes__cell">4 - 6</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="sizes__note">*возможно изготовление по индивидуальным размерам</p>
    </div>
</section>
