body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}